.badge{
    top: 10px;
    right: 12px;
    font-size: 17px;
}
.img{
    border-radius: 7px 7px 0 0;
}
.cards{
    border: 3px solid rgb(127, 37, 188);
    border-radius: 7px;
    margin-bottom: 4px;
}
